body {
    background-image: url("media/bristol_assets/BACKGROUND/creador_avatar_background.jpg"); /* Reemplaza con la URL de tu imagen */
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white; /* Color del texto */
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo semi-transparente */
    padding: 30px;
    border-radius: 10px;
    width: 80%;  /* Ajusta el ancho del contenedor */
    height: 400px; /* Ajusta la altura del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

h1 {
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 25px 0 0 25px; /* Esquinas redondeadas a la izquierda */
    font-size: 25px;
    width: 600px;
}

button {
    background-color: #ffffff;
    border: none;
    border-radius: 0 25px 25px 0; /* Esquinas redondeadas a la derecha */
    padding: 10px;
    cursor: pointer;
}

button img {
    width: 25px;
    height: 26px;
}