<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Selecciona un Género</title>
</head>
<body>
    <div class="container">
        <form method="POST" action="{{ url_for('expertise') }}">
            <h2>¿QUE TE EMOCIONA MÁS DE ESTE EVENTO?</h2>
            <div class="botones-expertise">
                <button type="submit" name="expertise" value="Tecnologia"><img src="../static/media/bristol_assets/7_pantalla_experto/tecnologia.png" alt="Tecnologia"></button>
                <button type="submit" name="expertise" value="Sostenibilidad"><img src="../static/media/bristol_assets/7_pantalla_experto/sostenibilidad.png" alt="Sostenibilidad"></button>
                <button type="submit" name="expertise" value="Networking"><img src="../static/media/bristol_assets/7_pantalla_experto/networking.png" alt="Networking"></button>
                <button type="submit" name="expertise" value="Arte"><img src="../static/media/bristol_assets/7_pantalla_experto/arte.png" alt="Arte"></button>
            </div>
        </form>
        <div class="navigation-dots">
            <span></span>
            <span></span>
            <span class="active"></span>
            <span></span>
        </div>
    </div>
</body>
</html>