<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Selecciona un Género</title>
</head>
<body>
    <div class="container">
        <form method="POST" action="{{ url_for('genero') }}">
            <h2>SELECCIONA UN GÉNERO</h2>
            <div class="botones-genero">
                <button type="submit" name="genero" value="Femenino"><img src="../static/media/bristol_assets/2_pantalla_genero/mujer.png" alt="Femenino"></button>
                <button type="submit" name="genero" value="Masculino"><img src="../static/media/bristol_assets/2_pantalla_genero/hombre.png" alt="Masculino"></button>
                <button type="submit" name="genero" value="No Binario"><img src="../static/media/bristol_assets/2_pantalla_genero/otro.png" alt="No Binario"></button>
            </div>
        </form>
        <div class="navigation-dots">
            <span class="active"></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</body>
</html>