<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nombra tu Avatar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxanium:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='nombre.css') }}">
</head>
<body>
    <div class="container">
    <h1>¿COMO TE GUSTARIA QUE SE LLAMARA TU AVATAR?</h1>
    <form method="POST" action="{{ url_for('nombre') }}"> 
        <div class="input-container">
            <input type="text" id="nombre-robot" name="nombre" placeholder="Ingresa el nombre para tu robot" required>
            <button type="submit">
                <img src="../static/media/bristol_assets/3_pantalla_nombre/boton_enviar.png" alt="Enviar"> 
            </button>
        </div>
    </form>
    <div class="navigation-dots">
        <span></span>
        <span class="active"></span>
        <span></span>
        <span></span>
    </div>
    </div>
</body>
</html>